@import "src/style/universal";

@keyframes rainbow {
  @for $i from 0 through 20 {
    #{percentage($i * 0.05)} {
      //color: hsl(random(360%), 75, 75);
    }
  }
}
@keyframes jump_little {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}

.floatButton{
  transition: all .3s;
  &:hover{
    box-shadow:  0 8px 20px rgb(93, 92, 93), 0 0 0  currentColor;
    transform: translateY(-10%);
  }
  &:active{
    filter: grayscale(30%)
  }
}

//.el-button{
//  &:active{
//    border-color: $card-background-hover;
//    color: $card-background-hover_b;
//    background-color: $card-background-color;
//  }
//  &:focus{
//    border-color: $card-background-hover;
//    color: $card-background-hover_b;
//    background-color: $card-background-color;
//  }
//  &:hover{
//    border-color: $card-background-hover;
//    color: $card-background-hover_b;
//    background-color: $card-background-color;
//  }
//}

.el-button--primary{
  //background-color: var(--theme-color);
  //border-color:var(--theme-color);
  ////&:active{
  ////  border-color: var(--theme-color-1);
  ////  background-color: var(--theme-color-1);
  ////  color: #ffffff;
  ////}
  ////&:focus{
  ////  border-color: var(--theme-color-1);
  ////  background-color: var(--theme-color-1);
  ////  color: #ffffff;
  ////}
  ////&:hover{
  ////  border-color: var(--theme-color-1);
  ////  background-color: var(--theme-color-1);
  ////  color: #ffffff;
  ////}
}