:root {
    --background: #fff;
    --background-home: #f4f5f5;
    --font-color: #515767;
    --font-color-bold: black;
    --theme-color: #0b73f3;
    --switch-background: #eeac07;
    --switch-but-background: #fff;
    --switch-border-background: #ef8804;
    --shadow-left: rgba(0, 0, 0, .1);
    --shadow-right: rgba(255, 255, 255, .8);
}

[data-theme="dark"] {
    --background: #232222;
    --font-color: rgba(255,255,255,0.6);;
    --font-color-bold: rgba(255,255,255,0.87);
    --theme-color: #0b73f3;
    --background-home: #1a1a1a;
    --switch-background : #0d1823;
    --switch-but-background: #fff;
    --switch-border-background: #4c4d4f;
}
[data-theme="light"] {
    --background: #fff;
    --background-home: #f4f5f5;
    --font-color: #515767;
    --font-color-bold: black;
    --theme-color: #0b73f3;
    --switch-background: #eeac07;
    --switch-but-background: #fff;
    --switch-border-background: #ef8804;
    --shadow-left: rgba(0, 0, 0, .1);
    --shadow-right: rgba(255, 255, 255, .8);
}