$background-color:#6c628d; //大背景色
$card-background-color:#ddd8f1; // 卡片颜色
$card-background-color_h: rgba(229, 225, 239, 0.55); // 卡片颜色(灰)
$card-background-color-b: #cbbff8; //卡片颜色(深)
$card-background-scrollbar: #bdaef6; //滚动条
$card-background-hover: #a87ef1;
$card-background-hover_b: #c77ef1;
